.back {
    background-color: #800080;
}

.h1 {
    margin: 4px;
}

.a1 {
    max-width: 70%;
    margin: auto;
    text-align: center;
}

.a2 {
    margin: auto;
    margin-top: 10px;
    border: 1px solid;
    padding: 2%;
    background-color: rgb(235, 240, 244);
}



.table {
    border: 3px solid;
    margin:15px ;
}

.a5 {
    border: 2px solid;
    padding: 2px;
}

.a4 {
    text-align: center;
    margin: auto;
    margin-top: 4px;
}

.a3 {
    margin: auto;
    text-align: center;
}

.submit {
    text-align:left;
    background-color: rgb(4, 213, 144);
}
.div{
    text-align: center;
    text-indent: 2%;
}